* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* start categories */

/* gal-slide-img */
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
html {
  font-family: "Quicksand", sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgb(22 28 45 / 70%);
  font-family: "Quicksand", sans-serif;
}
button:focus {
  outline: none;
  box-shadow: none;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.dark#body {
  background-color: #232220;
  color: #fff;
}

.dark .mode-container .gg-sun {
  display: block;
  color: white;
}

.dark .mode-container .gg-moon {
  display: none;
}
.dark p {
  color: #c2d0da;
}
/* Banner */
.banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(./img/banner1.jpg);
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}
.logo h1 a.logo-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.menu-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.menu-right-content .search-bar {
  display: flex;
}

.menu-right-content .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  /* border: none; */
  font-weight: 500;
  position: relative;
  right: 0;
  outline: 0;
  color: rgba(22, 28, 45, 0.7);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
}

.dark .menu-right-content .search-bar .search .search__input {
  color: rgba(237, 238, 243, 0.7);
  background-color: black;
  border: 1px solid black;
}

.menu-right-content .search-bar .search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

.theme-switch input {
  display: none;
}

button#trigger-overlay {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

.banner .banner-info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.banner .banner-info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.banner .banner-info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
  text-decoration: none;
}

/* Banner with header Overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
}

.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: #ff6600;
  color: #fff;
  border-radius: 6px;
}

.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  backface-visibility: hidden;
  line-height: 3em;
}

.overlay ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  transition: color 0.2s;
  text-decoration: none;
}

.overlay ul li a:focus,
.overlay ul li a:hover {
  color: #ff6600;
  text-decoration: none;
}

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
}

/* Banner with header Overlay */

/* toggle switch */
/* dark and light mode */
.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
  margin-top: 8px;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat
      5px -6px/2px 6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px
      6px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px
      2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
  color: #eee;
}

.mode-container i.gg-moon {
  display: block;
  color: #eee;
}

input:checked + .mode-container i.gg-sun {
  display: block;
}

input:checked + .mode-container i.gg-moon {
  display: none;
}

/* toggle switch */
/* dark and light mode */

/* About Us*/

.aboutUs__content .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}

.title-info {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.aboutUs__content__right p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

.dark .aboutUs__content__right p {
  color: white;
}

.aboutUs__agent {
  background-color: #ff6600;
}

.agent-block-image {
  background: url(./img/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}

.agent-block-image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.title-subhny.two {
  color: #fff;
}

.title-info.two {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.agent-block-image-inf p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: #ffdfc9;
}

.subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}

.subscribe-cat .icon {
  background: #fff;
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.icon span.fa {
  font-size: 25px;
  line-height: 70px;
  color: #ff6600;
  transition: 0.3s ease-in-out;
}

.subscribe-cat .subscribe-cat-link {
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: none;
}

.dark .subscribe-cat .subscribe-cat-link {
  color: white;
}

.subscribe-cat-gd:hover .icon span.fa {
  color: #ffc600;
  transition: 0.3s ease-in-out;
}

/* Responsive Banner with Header and About Us*/

@media (max-width: 1190px) {
  .banner .banner-info h3 {
    font-size: 48px;
    line-height: 58px;
  }
}

@media (max-width: 1080px) {
  .title-info,
  .title-info.two {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media (max-width: 992px) {
  .banner .banner-info h3 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 800px) {
  .banner .banner-info h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .banner {
    min-height: 600px;
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .overlay ul li a {
    font-size: 16px;
  }
  .overlay ul li {
    line-height: 40px;
  }
}
@media (max-width: 600px) {
  .overlay ul li a {
    font-size: 16px;
  }
  .overlay ul li {
    line-height: 36px;
  }

  .menu-right-content .search-bar {
    display: none;
  }

  .title-info,
  .title-info.two {
    font-size: 30px !important;
    line-height: 38px;
  }
  .aboutUs__content__right p,
  .agent-block-image-inf p {
    font-size: 16px;
    line-height: 26px;
  }

  .title-subhny {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .banner .banner-info h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .banner .banner-info {
    max-width: 500px;
    margin-top: 30px;
  }
  .banner {
    min-height: 450px;
  }
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }

  .title-info,
  .title-info.two {
    font-size: 26px !important;
    line-height: 36px;
  }

  .btn-white {
    padding: 10px 21px;
  }
}

@media (max-width: 375px) {
  .btn-white {
    font-size: 16px;
  }

  .title-info,
  .title-info.two {
    font-size: 24px !important;
    line-height: 34px;
  }

  .title-subhny {
    font-size: 16px !important;
    letter-spacing: 0.5px;
  }
}

@media all and (max-width: 992px) {
  .subscribe-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 20px 10px;
  }

  .subscribe-cat .subscribe-cat-link {
    font-size: 18px;
  }
  .agent-block-image {
    min-height: 200px;
  }
}
/* Responsive Banner with Header and About Us*/
/* Start categories */
#categories {
  background-color: #f7f7f7;
}
.dark #categories {
  background-color: #282828;
}
.res-categories-grids .gal-slide-img {
  position: relative;
}
.res-categories-grids .gal-slide-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}
.res-categories-grids .gal-slide-img img {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 6px;
}
.res-categories-grids .gal-slide-img img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}
/* gal-slide-info */
.res-categories-grids .gal-slide-info {
  position: absolute;
  left: auto;
  width: 95%;
  bottom: 0;
  transform: translateY(10%);
}
.res-categories-grids .gal-slide-info a {
  text-decoration: none;
}
.res-categories-grids .gal-slide-info a h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
}
.res-categories-grids .gal-slide-info h6 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1;
  line-height: 25px;
  opacity: 0.9;
  color: #ffc600;
}
/* end categories */
/* start features */
.box_wrap {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  border: 1px solid #eee;
}
.dark .box_wrap {
  border: 1px solid rgb(255 255 255 / 10%);
}
.box_wrap p {
  margin: 0;
}
.box_wrap:hover .box_wrap_grid .icon {
  background-color: #ff6600;
}
.box_wrap:hover .box_wrap_grid .icon span {
  color: #fff;
}
.box_wrap_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.box_wrap_grid h4 a {
  color: #232121;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
}

.dark .box_wrap_grid h4 a {
  color: #eee;
}
.box_wrap_grid h4 a:hover {
  color: #ff6600;
}
/* end features */
/* start delicious */
.delicious {
  background-image: url(./img/banner2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.delicious::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(16 15 19 / 66%);
  top: 0;
  left: 0;
  z-index: -1;
}
.delicious__content {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.delicious__content h3 {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
  font-family: "Quicksand", sans-serif;
}
.delicious__content .delicious__button .btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 6px;
}
.delicious__content .delicious__button .btn-white:hover {
  background-color: #fff;
  color: #ff6600;
}
.delicious__content .delicious__button .btn-primary {
  border-radius: 6px;
}
.delicious__content .delicious__button .btn-primary:hover {
  opacity: 0.8;
  color: #fff;
  background-color: #ff6600;
  border: 2px solid #ff6600;
}
/* end delicious */
/* start number */
.number {
  position: relative;
  margin-top: -70px;
  z-index: 10;
}
.number__item {
  background-color: #fff;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s ease;
}
.dark .number__item {
  background-color: #232220;
}
.number__item:hover {
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transform: translateY(-0.25rem);
}
.number__item i {
  background-color: #ff6600;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  font-size: 28px;
  text-align: center;
  line-height: 68px;
  color: #fff;
}
.number__item .timer {
  font-size: 2.6rem;
  font-weight: 600;
  color: #232121;
}
.dark .number__item .timer {
  color: #eee;
}
.number__item .number__text {
  color: rgb(22 28 45 / 70%);
  font-weight: 600;
}
.dark .number__item .number__text {
  color: #c2d0da;
}
/* end number */
/* start popup */
.popup__background {
  background-color: #fff;
}
.dark .popup__background {
  background-color: #232220;
}
.popup__video {
  background: url(./img/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: cover;
  border-radius: 6px;
  display: grid;
  align-items: center;
  position: relative;
  z-index: 1;
}
.popup__video::before {
  content: "";
  position: absolute;
  background: rgb(16 15 19 / 60%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
}
#video-popup {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
#video-popup iframe {
  display: block;
  width: 100%;
  height: 420px;
}
.popup__video .play__popup {
  text-align: center;
}
.popup__video .play__popup .video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 26px;
  border-radius: 50%;
  background-color: #fff;
  border: transparent;
  color: #ff6600;
  transition: 0.3s ease-in-out;
  animation-name: ripple;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.popup__video .play__popup .video-play-icon:hover {
  transform: scale(1.2);
  background: #ff6600;
  color: #fff;
  border: transparent;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
/* end popup */
#blog {
  background-color: #f7f7f7;
  padding: 90px 0;
}
.card a {
  text-decoration: none;
  background-color: #f7f7f7;
}
.card {
  border: none;
}
.card-body {
  background-color: #f7f7f7;
}
a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: black;
  margin-top: 25px;
  margin-bottom: 15px;
}
.post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.post-pos .meta-info span {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}
a.receipe {
  background: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}
.p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
}
.p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}
.p-meta-info a {
  font-weight: 700;
  color: #232121;
  letter-spacing: 0.02em;
}
a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  opacity: 0.9;
  color: #232121;
}
a.read:hover {
  color: #ff6600;
}
.dark .card-body {
  background-color: #282828;
}
.dark #blog {
  background-color: #282828;
}
.dark .p-meta-info a {
  color: white;
}
.dark a.blog-desc {
  color: white;
}
.dark a.blog-desc {
  background-color: transparent;
}
.dark .p-meta-info {
  background-color: #212529;
}
.dark a.read {
  color: white;
  background-color: #212529;
}
.dark .p-meta-info a {
  background-color: #212529;
  color: white;
}
.dark .card-header {
  background-color: #212529;
}
.dark a.read:hover {
  color: #ff6600;
}
/* phần testi */
.testimonial {
  max-width: 700px;
  margin: 0 auto;
}
.testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

blockquote {
  position: relative;
}
blockquote::before {
  content: "''";
  font-family: initial;
  font-size: 50px;
  font-weight: 600;
  color: #ff6600;
  font-style: italic;
  line-height: 50px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ff6600;
}
.w3l-clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}
.w3l-clients p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
  opacity: 0.7;
}
.testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.w3l-clients p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;

  opacity: 0.7;
  margin-top: 4px;
}
/* footer  */
.footer-1 {
  color: #a5a2a1;
}
.footer-4 p {
  color: #a5a2a1;
}
.main-social-footer-29 a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 8px;
  transition: 0.3s;
}
.main-social-footer-29 a:hover {
  color: #fff;
  background-color: #ff6600;
}

.w3l-footer-29-main {
  background-color: #000;
}
.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: #ff6600;
  color: white;
}
.w3l-footer-29-main input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: black;
  background: #fff;
  border-radius: 8px;
}
.btn-style:hover {
  color: white;
  opacity: 0.8;
}
.w3l-footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}
.footer-top-29 .footer-1 .footer-logo a:hover {
  color: #ff6600;
}
.footer-logo h2 a:hover {
  color: #ff6600;
}
.w3l-footer-29-main h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.w3l-footer-29-main .footer-list-29 ul li {
  margin-bottom: 10px;
}
.w3l-footer-29-main .footer-list-29 ul li a {
  color: #a5a2a1;
}
.w3l-footer-29-main .footer-list-29 a:hover {
  color: #ff6600;
}
.w3l-footer-29-main .main-social-footer-29 a:hover {
  color: #fff;
}
/* footer copyright  */
.w3l-copyright {
  padding: 1.2em 0;
  background: #000;
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}
.w3l-copyright .copy-footer-29 a {
  color: #ff6600;
}
.w3l-footer-29-main .footer-list-29 p {
  color: #a5a2a1;
}
.w3l-copyright .footer-list-29 ul li a {
  color: #a5a2a1;
}
.w3l-copyright .copy-footer-29 a:hover {
  color: white;
}
.w3l-copyright .footer-list-29 ul li a:hover {
  color: #ff6600;
}
/* back to top  */
.w3l-copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #ff6600;
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}